/*Styles généraux*/

.canvas-container {
    position: relative;
    border: 3px solid black;
    width: 784.8px;
    height: 498.8px;
    top: 43px;
    left: 217px;
}
  
#myCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
  
.mur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Pour ajuster l'image à la taille de son conteneur */
    z-index: 2;
}
  
.tableau1{
    position: absolute;
    width: 164px;
    height: 100px;    
    left: 332px;
    top: 130px;
    z-index: 3; /* Assurez-vous que le z-index est supérieur à celui du mur */
}

.etagere{
    position: absolute;
    width: 130px;
    height: 308px;
    bottom: 100px;
    left: 275px;
    z-index: 3; 
}
