/*Styles généraux*/

.canvas-container {
    position: relative;
    border: 3px solid black;
    width: 950.8px;
    height: 558.8px;
    top: 50px;
    left: 300px;
}
  
#myCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

h1{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    
}

/* code de la pièce 1 (index.html)*/
.mur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Pour ajuster l'image à la taille de son conteneur */
    z-index: 2;
}


.tableau1{
    position: absolute;
    width: 200px;
    height: 105px;  
    left: 90px;
    top: 110px;
    z-index: 3;
}

/* 1er étagère */

.container-etagere1 {
    position: relative;
    width: 80px;
    height: 200px;
    top: 100px;
    left: 406px;
    z-index: 3;
}

.etagereA{
    position: absolute;
    width: 80px;
    height: 15px;    
    left: 0px;
    top: 35px;
    z-index: 3; /* Assurez-vous que le z-index est supérieur à celui du mur */
}

.etagereB{
    position: absolute;
    width: 80px;
    height: 15px;    
    left: 0px;
    top: 105px;
    z-index: 3; /* Assurez-vous que le z-index est supérieur à celui du mur */
}


.etagereC{
    position: absolute;
    width: 80px;
    height: 15px;    
    left: 0px;
    top: 175px;
    z-index: 3; /* Assurez-vous que le z-index est supérieur à celui du mur */
}

.container-etagere2 {
    position: relative;
    width: 280px;
    height: 200px;
    bottom: 100px;
    left: 506px;
    z-index: 3;
}
.etagereD{
    position: absolute;
    width: 80px;
    height: 15px;    
    left: 20px;
    top: 30px;
    z-index: 3; /* Assurez-vous que le z-index est supérieur à celui du mur */
}

.etagereE{
    position: absolute;
    width: 170px;
    height: 15px;    
    left: 60px;
    top: 100px;
    z-index: 3; /* Assurez-vous que le z-index est supérieur à celui du mur */
}

.etagereF{
    position: absolute;
    width: 80px;
    height: 15px;    
    left: 180px;
    top: 170px;
    z-index: 3; /* Assurez-vous que le z-index est supérieur à celui du mur */
}

/* Objet des étagère */

.plante1{
    position: absolute;
    width: 35px;
    height: 43px;
    left: 430px;
    bottom: 423px;
    z-index: 3; 
}

.plante2{
    position: absolute;
    width: 35px;
    height: 43px;
    left: 710px;
    bottom: 283px;
    z-index: 3; 
}

.globe{
    position: absolute;
    width: 35px;
    height: 43px;
    left: 430px;
    bottom: 353px;
    z-index: 3; 
}

.plante_carnivore{
    position: absolute;
    width: 35px;
    height: 43px;
    left: 430px;
    bottom: 283px;
    z-index: 3; 
}

.charbon{
    position: absolute;
    width: 43px;
    height: 23px;
    left: 550px;
    bottom: 423px;
    z-index: 3; 
}

.atome{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 572px;
    bottom: 358px;
    z-index: 3; 
}

.lunette{
    position: absolute;
    width: 43px;
    height: 23px;
    left: 628px;
    bottom: 358px;
    z-index: 3; 
}

.masque{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 686px;
    bottom: 358px;
    z-index: 3;
}
/* Mobilier avec pc portable */

.chaise1{
    position: absolute;
    width: 108px;
    height: 218px;
    bottom: 50px;
    left: 235px; 
    z-index: 3;

} 


.table{
    position: absolute;
    width: 206px;
    height: 163px;
    bottom: 50px;
    left: 169px;
    z-index: 3;

}


.ordinateur{
    position: absolute;
    width: 125px;
    height: 43px;
    left: 180px;
    bottom: 213px;
    z-index: 3;

}

/*Mobilier avec pc fixe */

.chaise2{
    position: absolute;
    width: 120px;
    height: 215px;
    bottom: 1px;
    left: 667px; 
    z-index: 3;
}


.table2{
    position: absolute;
    width: 290px;
    height: 140px;
    bottom: 1px;
    left: 430px;
    z-index: 3;

}

.ordinateur2{
    position: absolute;
    width: 108px;
    height: 64px;
    left: 580px;
    bottom: 138px;
    z-index: 3;
}

/* ecran */
.pc{
    position: absolute;
    width: 650px;
    height: 400px; 
    left: 450px;
    top: 200px;   
    z-index: 4;
}
/* piece2 */
.assenseur{
    position: absolute;
    width: 150px;
    height: 385px;
    left: 54px;
    bottom:20px;
    z-index: 2;
}

.ascenseur_ouvert{
    position: absolute;
    width: 250px;
    height: 385px;
    left: 54px;
    bottom:20px;
    z-index: 2;
}

.table3{
    position: absolute;
    width: 384px;
    height: 167px;
    bottom: 30px;
    left: 480px;
    z-index: 2;
}

.tableauA{
    position: absolute;
    width: 230px;
    height: 120px;
    z-index: 3;
    left: 360px;
    top: 120px;
}

.miroir{
    position: absolute;
    width: 130px;
    height: 170px;
    z-index: 3;
    left: 660px;
    top: 120px; 
}

.coffre-fort{
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 3;
    left: 760px;
    bottom: 195px; 
}

.coffre-fort_ouvert{
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 3;
    left: 760px;
    bottom: 195px; 
}
/* piece3 */

.tableau3{
    position: absolute;
    width: 230px;
    height: 120px;
    z-index: 3;
    left: 360px;
    top: 120px;

}

.container-bureau{
    position: relative;
    width: 430px;
    height: 190px;
    left: 42px;
    top: 353px;
    z-index: 3;

}

.bureau1{
    position: absolute;
    width: 430px;
    height: 190px;
    left: 2px;
    top: 0px;
    z-index: 2;
} 

.microscope{
    position: absolute;    
    width: 44px;
    height: 60px;
    bottom: 189px;
    left:75px;
    z-index: 2;
}

/* flacons */

.flacon{
    position: absolute;
    width: 13px;
    height: 20px;
    bottom: 189px;
    left: 130px;
    z-index: 2;
}

.flacon2{
    position: absolute;
    width: 14px;
    height: 24px;
    bottom: 189px;
    left: 140px;
    z-index: 2;
}

.flacon3{
    position: absolute;
    width: 14px;
    height: 24px;
    bottom: 189px;
    left: 170px;
    z-index: 2;

}

.flacon4{
    position: absolute;
    width: 13px;
    height: 20px;
    bottom: 189px;
    left: 150px;
    z-index: 2;

}


/* fioles */

.fiole{
    position: absolute;
    width: 20px;
    height: 21px;
    bottom: 189px;
    left: 190px;
    z-index: 2;

}


.fioleW{
    position: absolute;
    width: 19px;
    height: 17px;
    bottom: 189px;
    left: 204px;
    z-index: 2;

}


.tubes3{
    position: absolute;
    width: 45px;
    height: 28px;
    bottom: 189px;
    left: 325px;
    z-index: 2;

}

.fiole4{
    position: absolute;
    width: 17px;
    height: 24px;
    bottom: 189px;
    left: 270px; 
    z-index: 2;
}

.fiole5{
    position: absolute;
    width: 17px;
    height: 20px;
    bottom: 189px;
    left: 250px; 
    z-index: 2;
}

.fiole-a{
    position: absolute;
    width: 17px;
    height: 18px;
    bottom: 189px;
    left: 22px; 
    z-index: 2;    
}

.fiole-b{
    position: absolute;
    width: 17px;
    height: 18px;
    bottom: 189px;
    left: 40px; 
    z-index: 2;
}

.fiole-c{
    position: absolute;
    width: 17px;
    height: 18px;
    bottom: 189px;
    left: 30px; 
    z-index: 2;
}

.fiole-d{
    position: absolute;
    width: 17px;
    height: 18px;
    bottom: 189px;
    left: 110px; 
    z-index: 2;
}

.fiole-e{
    position: absolute;
    width: 17px;
    height: 18px;
    bottom: 189px;
    left: 260px; 
    z-index: 2;
}

.fiole-f{
    position: absolute;
    width: 17px;
    height: 18px;
    bottom: 189px;
    left: 300px; 
    z-index: 2;
}

.fiole-g{
    position: absolute;
    width: 17px;
    height: 18px;
    bottom: 189px;
    left: 325px; 
    z-index: 2;
}

.fiole-h{
    position: absolute;
    width: 17px;
    height: 18px;
    bottom: 189px;
    left: 385px; 
    z-index: 2;
}

.fiole-i{
    position: absolute;
    width: 17px;
    height: 18px;
    bottom: 189px;
    left: 355px; 
    z-index: 2;
}

.lamelles{
    position: absolute;
    width: 15px;
    height: 13px;
    bottom: 190px;
    left: 785px; 
    z-index: 2;
}

.trepied{
    position: absolute;
    width: 30px;
    height: 50px;
    bottom: 189px;
    left: 405px; 
    z-index: 2;

}


.chaise3{
    position: absolute;
    width: 100px;
    height: 218px;
    bottom: 0px;
    left: 163px; 
    z-index: 2;

}


/* bureau2 */

.bureau2{
    position: absolute;
    top: 353px;
    width: 430px;
    height: 190px;
    left: 485px;
    z-index: 2;
}

.microscope3{
    position: absolute;    
    width: 44px;
    height: 60px;
    bottom: 204px;
    left: 520px;
    z-index: 2;
    }  

.flaconA{
    position: absolute;
    width: 13px;
    height: 20px;
    bottom: 204px;
    left: 577px;
    z-index: 2;

}
    
.flaconB{
    position: absolute;
    width: 14px;
    height: 24px;
    bottom: 204px;
    left: 588px;
    z-index: 2;

}
    
.flaconC{
    position: absolute;
    width: 14px;
    height: 24px;
    bottom: 204px;
    left: 630px;
    z-index: 2;

}
    
.flaconD{
    position: absolute;
    width: 13px;
    height: 20px;
    bottom: 204px;
    left: 609px;
    z-index: 2;
}


/* fioles */
.fioleA{
    position: absolute;
    width: 17px;
    height: 18px;
    bottom: 204px;
    left: 653px;
    z-index: 2;
}


.fioleB{
    position: absolute;
    width: 17px;
    height: 15px;
    bottom: 204px;
    left: 642px;
    z-index: 2;
}


.tubes4{
    position: absolute;
    width: 45px;
    height: 28px;
    bottom: 204px;
    left: 750px;
    z-index: 2;
}

.fioleC{
    position: absolute;
    width: 26px;
    height: 34px;
    bottom: 204px;
    left: 780px; 
    z-index: 2;
}


.fioleD{
    position: absolute;
    width: 20px;
    height: 26px;
    bottom: 204px;
    left: 810px; 
    z-index: 2;
}

.fiole-j{
    position: absolute;
    width: 17px;
    height: 18px;
    bottom: 204px;
    left: 535px; 
    z-index: 2;
}

.fiole-k{
    position: absolute;
    width: 17px;
    height: 18px;
    bottom: 204px;
    left: 525px; 
    z-index: 2;
}

.fiole-l{
    position: absolute;
    width: 17px;
    height: 18px;
    bottom: 204px;
    left: 750px; 
    z-index: 2;
}

.fiole-m{
    position: absolute;
    width: 17px;
    height: 18px;
    bottom: 204px;
    left: 570px; 
    z-index: 2;
}

.trepied2{
    position: absolute;
    width: 30px;
    height: 50px;
    bottom: 204px;
    left: 864px; 
    z-index: 2;
}

.chaise4{
    position: absolute;
    width: 108px;
    height: 220px;
    bottom: 20px;
    left: 645px; 
    z-index: 2;
} 


.bulle_interaction4{
    position: absolute;
    width:  880px;
    height: 90px;
    left: 37px;
    top: 30px;
    z-index: 2;
}

.gameover2{
    width: 840px;
    height: 203px;
    position: absolute;
    left: 65px;
    padding-top: 140px;
    z-index: 3;
}

/* piece4 */

.bibliotheque{
    position: absolute;
    width: 690px;
    height: 500px;
    z-index: 2;
    top: 140px;
    left:130px;
} 

.fauteuil{
    position: absolute;
    width: 139px;
    height: 170px;
    z-index: 2;
    bottom: 20px;
    left: 700px;
}
