/* A supprimer : Ouverture des portes et tiroir du bureau 1*/

.armoir_ouvertA{
    position: absolute;
    height: 90px;
    width: 206px;
    bottom: 85px;
    left: 233px;
} 

.tiroir_ouvertA{
    position: absolute;
    width: 152px;
    height: 75px;
    bottom: 134px;
    left: 260px;  
} 

.armoir_ouvertB{
    position: absolute;
    height: 90px;
    width: 206px;
    bottom: 85px;
    left:443px;
} 

.tiroir_ouvertB{
    position: absolute;
    width: 152px;
    height: 75px;
    bottom: 134px;
    left: 470.3px;  
} 
