/*Styles généraux*/

.canvas-container {
    position: relative;
    border: 3px solid black;
    width: 950.8px;
    height: 558.8px;
    top: 50px;
    left: 300px;
}
  
#myCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

h1{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    
}

/* code de la pièce 1 (index.html)*/
.mur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Pour ajuster l'image à la taille de son conteneur */
    z-index: 2;
}


.tableau1{
    position: absolute;
    width: 200px;
    height: 105px;  
    left: 90px;
    top: 110px;
    z-index: 3;
}

/* 1er étagère */

.container-etagere1 {
    position: relative;
    width: 80px;
    height: 200px;
    top: 100px;
    left: 406px;
    z-index: 3;
}

.etagereA{
    position: absolute;
    width: 80px;
    height: 15px;    
    left: 0px;
    top: 35px;
    z-index: 3; /* Assurez-vous que le z-index est supérieur à celui du mur */
}

.etagereB{
    position: absolute;
    width: 80px;
    height: 15px;    
    left: 0px;
    top: 105px;
    z-index: 3; /* Assurez-vous que le z-index est supérieur à celui du mur */
}


.etagereC{
    position: absolute;
    width: 80px;
    height: 15px;    
    left: 0px;
    top: 175px;
    z-index: 3; /* Assurez-vous que le z-index est supérieur à celui du mur */
}

.container-etagere2 {
    position: relative;
    width: 280px;
    height: 200px;
    bottom: 100px;
    left: 506px;
    z-index: 3;
}
.etagereD{
    position: absolute;
    width: 80px;
    height: 15px;    
    left: 20px;
    top: 30px;
    z-index: 3; /* Assurez-vous que le z-index est supérieur à celui du mur */
}

.etagereE{
    position: absolute;
    width: 170px;
    height: 15px;    
    left: 60px;
    top: 100px;
    z-index: 3; /* Assurez-vous que le z-index est supérieur à celui du mur */
}

.etagereF{
    position: absolute;
    width: 80px;
    height: 15px;    
    left: 180px;
    top: 170px;
    z-index: 3; /* Assurez-vous que le z-index est supérieur à celui du mur */
}

/* Objet des étagère */

.plante1{
    position: absolute;
    width: 35px;
    height: 43px;
    left: 430px;
    bottom: 423px;
    z-index: 3; 
}

.plante2{
    position: absolute;
    width: 35px;
    height: 43px;
    left: 710px;
    bottom: 283px;
    z-index: 3; 
}

.globe{
    position: absolute;
    width: 35px;
    height: 43px;
    left: 430px;
    bottom: 353px;
    z-index: 3; 
}

.plante_carnivore{
    position: absolute;
    width: 35px;
    height: 43px;
    left: 430px;
    bottom: 283px;
    z-index: 3; 
}

.charbon{
    position: absolute;
    width: 43px;
    height: 23px;
    left: 550px;
    bottom: 423px;
    z-index: 3; 
}

.atome{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 572px;
    bottom: 358px;
    z-index: 3; 
}

.lunette{
    position: absolute;
    width: 43px;
    height: 23px;
    left: 628px;
    bottom: 358px;
    z-index: 3; 
}

.masque{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 686px;
    bottom: 358px;
    z-index: 3;
}
/* Mobilier avec pc portable */

.chaise1{
    position: absolute;
    width: 108px;
    height: 218px;
    bottom: 50px;
    left: 235px; 
    z-index: 3;

} 


.table{
    position: absolute;
    width: 206px;
    height: 163px;
    bottom: 50px;
    left: 169px;
    z-index: 3;

}


.ordinateur{
    position: absolute;
    width: 125px;
    height: 43px;
    left: 180px;
    bottom: 213px;
    z-index: 3;

}

/*Mobilier avec pc fixe */

.chaise2{
    position: absolute;
    width: 120px;
    height: 215px;
    bottom: 1px;
    left: 667px; 
    z-index: 3;
}


.table2{
    position: absolute;
    width: 290px;
    height: 140px;
    bottom: 1px;
    left: 430px;
    z-index: 3;

}

.ordinateur2{
    position: absolute;
    width: 108px;
    height: 64px;
    left: 580px;
    bottom: 138px;
    z-index: 3;
}

/* ecran */
.pc{
    position: absolute;
    width: 650px;
    height: 400px; 
    left: 450px;
    top: 200px;   
    z-index: 4;
}

.photo{
    position: absolute;
    width: 400px;
    height: 400px; 
    z-index: 4;
    top: 210px;
    Left: 570px;
}

.photo2{
    position: absolute;
    width: 580px;
    height: 400px; 
    z-index: 4;
    top: 210px;
    Left: 570px;
}

.enigme{
    position: absolute;
    width: 800px;
    height: 500px;
    z-index: 3;
    top: 30px;
    Left: 70px;    
}